<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Get Point</h1>
    <p>
      Selamat anda mendapatkan <%= @loyalty_point_transaction.point_customer_transaction %> point reward.<br>
      point anda sekarang bertambah menjadi <%= @loyalty_point_transaction.loyalty_point.point_customer%> point
    </p>
    <p>
      Silahkan login untuk mengecek point anda https://mybisniscepat.herokuapp.com/login-customer
    </p>
    <p>Terima kasih telah bergabung dengen program loyalty kami</p>
  </body>
</html>