<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Kebijakan Privasi</title>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

  <%= stylesheet_link_tag "logincustomer.css" %>
  <style>
  #booking {
	background-image:none !important;
}
</style>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-1">
                        <div class="booking-cta">
                            <h2 style="text-align: center;">Kebijakan Privasi</h2>
                            <p style="text-align: justify; font-size:14px;">Privacy Policy untuk bisniscepat.com

Di bisniscepat.com, dapat diakses dari bisniscepat.com, salah satu prioritas utama kami adalah privasi pengunjung kami. Dokumen Kebijakan Privasi ini berisi jenis informasi yang dikumpulkan dan dicatat oleh bisniscepat.com dan bagaimana kami menggunakannya.</p>

<p style="text-align: justify; font-size:14px;">Jika Anda memiliki pertanyaan tambahan atau memerlukan informasi lebih lanjut tentang Kebijakan Privasi kami, jangan ragu untuk menghubungi kami.</p>

<p style="text-align: justify; font-size:14px;">Informasi yang Kami Kumpulkan<br>

(nama blog Anda).com mengikuti prosedur standar menggunakan file log. File-file ini mencatat pengunjung ketika mereka mengunjungi situs web. Semua perusahaan hosting melakukan ini dan merupakan bagian dari analisis layanan hosting. Informasi yang dikumpulkan oleh file log termasuk alamat protokol internet (IP), jenis browser, Penyedia Layanan Internet (ISP), tanggal dan waktu, halaman rujukan/keluar, dan mungkin jumlah klik. Ini tidak terkait dengan informasi apa pun yang dapat diidentifikasi secara pribadi. Tujuan informasi adalah untuk menganalisis tren, mengelola situs, melacak pergerakan pengguna di situs web, dan mengumpulkan informasi demografis.</p>

<p style="text-align: justify; font-size:14px;">Cookies<br>

Seperti situs web lainnya, bisniscepat.com menggunakan ‘cookie’. Cookie digunakan untuk menyimpan informasi seperti preferensi pengunjung dan halaman yang diakses atau dikunjungi pengunjung pada situs web ini. Informasi tersebut kami gunakan untuk mengoptimalkan pengalaman pengguna dengan menyesuaikan konten halaman web kami.</p>

<p style="text-align: justify; font-size:14px;">Kebijakan Privasi Pihak Ketiga<br>

Kebijakan Privasi bisniscepat.com tidak berlaku untuk pengiklan atau situs web lain. Karena itu, kami menyarankan Anda untuk membaca seksama masing-masing Kebijakan Privasi dari pihak ketiga untuk informasi yang lebih rinci. Anda berhak untuk menonaktifkan cookies pada browser Anda.</p>

<p style="text-align: justify; font-size:14px;">Informasi Anak<br>

Salah satu prioritas kami adalah membantu perlindungan untuk anak-anak saat menggunakan internet. Kami mendorong orang tua dan wali untuk mengamati, berpartisipasi, memantau, dan membimbing aktivitas online mereka.</p>

<p style="text-align: justify; font-size:14px;">bisniscepat.com tidak dengan sengaja mengumpulkan informasi identifikasi pribadi apa pun dari anak-anak di bawah umur. Jika menurut Anda anak Anda memberikan informasi semacam ini di situs web kami, kami sangat menganjurkan Anda untuk segera menghubungi kami dan kami akan melakukan upaya terbaik kami untuk segera hapus informasi tersebut dari catatan kami.</p>

<p style="text-align: justify; font-size:14px;">Persetujuan<br>

Dengan menggunakan situs web kami, Anda dengan ini menyetujui Kebijakan Privasi kami dan menyetujui syarat dan ketentuannya.</p>
                            <div class="booking-form" style="background: transparent; box-shadow: none; margin-top:-40px;">
                                <button class="submit-btn"><%= link_to "Back", :back, :style => "color:#fff"%></button>    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

  <script src="js/jquery.min.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>