<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>The Iron Bee</title>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

  <%= stylesheet_link_tag "logincustomer.css" %>
<style>

  span {
    position: absolute;
    left: 48%;
  }
  .fa, .fas {
    color: #FFD700;
}
</style>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
        
          <div class="col-md-12 col-md-offset-1">
            <div class="booking-cta">
              <h2 style="text-align: center;">Reward</h2>
              <h2 style="text-align: center;">The IronBee Restaurant</h2>
            </div><br>
          </div>

          <div class="col-md-12 col-md-offset-1">
            <div class="booking-cta">
              <h5 style="text-align: center; font-weight:600">Dapatkan Poin</h5>
            </div>
          </div>

          <div class="col-md-12 col-md-offset-1">
            <div class="row">
              <div class="col-md-4">
                <div class="booking-cta">
                  <span><i class="nav-icon fas fa-users"></i></span><br>
                  <p style="text-align:center; font-weight:600; font-size:14px;">1 point = Join Loyalty Program</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="booking-cta">
                  <span><i class="nav-icon fas fa-cart-arrow-down"></i></span><br>
                  <p style="text-align:center;font-weight:600; font-size:14px;">2 poin = Setiap Pembelian 125 Ribu</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="booking-cta">
                  <span><i class="nav-icon fas fa-birthday-cake"></i></span><br>
                  <p style="text-align:center;font-weight:600;font-size:14px;">5 poin = Merayakan Hari Ulang tahun</p>
                </div>
              </div>  
            </div>    
          </div>

          <div class="col-md-12 col-md-offset-1">
            <br><div class="booking-cta">
              <h5 style="text-align: center; font-weight:600;">Tukarkan Poin</h5>
            </div>
          </div>

          <div class="col-md-12 col-md-offset-1">
            <div class="row">
              <div class="col-md-3">
                <div class="booking-cta">
                  <span><i class="nav-icon fas fa-gift"></i></span><br>
                  <p style="text-align:center;font-weight:600;font-size:14px;">5 poin = Potongan Diskon 25 Ribu</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="booking-cta">
                  <span><i class="nav-icon fas fa-gift"></i></span><br>
                  <p style="text-align:center;font-weight:600;font-size:14px;">10 poin = Potongan Diskon 75 Ribu</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="booking-cta">
                  <span><i class="nav-icon fas fa-gift"></i></span><br>
                  <p style="text-align:center;font-weight:600;font-size:14px;">15 poin = Potongan Diskon 125 Ribu</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="booking-cta">
                  <span><i class="nav-icon fas fa-gift"></i></span><br>
                  <p style="text-align:center;font-weight:600;font-size:14px;">20 poin = Potongan Diskon 175 Ribu</p>
                </div>
              </div>  
            </div>    
          </div>

          <div class="col-md-12 col-md-offset-1"><br>
            <div class="booking-cta">
              <% unless current_customer %> 
              <div class="booking-form" style="background: transparent; box-shadow: none; margin-top:-40px;">
              <button class="submit-btn"><a href="<%=new_customer_registration_path%>" style="color: #fff;">Join Our Program</a></button></div>
              <%else%>
              <div class="booking-form" style="background: transparent; box-shadow: none; margin-top:-40px;">
              <button class="submit-btn"><a href="<%=homecustomer_path%>" style="color: #fff;">Go To Home</a></button></div>
              <%end%>    
            </div>
          </div>

        </div>
      </div>
    </div>    
  </div>

  <script src="js/jquery.min.js"></script>
  <script>
    $('.form-control').each(function () {
      floatedLabel($(this));
    });

    $('.form-control').on('input', function () {
      floatedLabel($(this));
    });

    function floatedLabel(input) {
      var $field = input.closest('.form-group');
      if (input.val()) {
        $field.addClass('input-not-empty');
      } else {
        $field.removeClass('input-not-empty');
      }
    }
  </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>